<p>Coming soon- a page that will allow you to build your own real portfolio, and whatif portfolios, so you can see how they compare and how different investments you were thinking about making would compare</p>

<p>what if i had invested in stocks</p>
<p>what if i had invested in bitcoin</p>
<p>what if i had invested in cryptocurrency</p>
<p>what if i had invested in cryptoassets</p>
<p>what if i had invested in shares</p>
<p>what if i had invested in amazon</p>
<p>what if i had invested in facebook</p>
<p>what if i had invested calculator</p>


